@font-face {
  font-family: QuentyYellow-Personalused;
  src: url(fonts/QuentyYellow-Personalused.otf) format("otf");
}

html,
body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

footer {
  background-color: #261f1f;
  position: relative;
  height: 200px;
  width: 100%;
}

.picture-container {
  position: relative;
}

.picture {
  width: 100%;
}

.title-text-container {
  position: absolute;
  top: 14%;
  left: 10%;
  width: 30%;
}

.main-title {
  font-weight: bold;
  font-size: 80px;
  color: white;
}

.game-number {
  color: #d4af37;
  font-weight: 1;
}

.brand {
  font-weight: 700;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 42px;
  float: left;
  margin-right: 20px;
  color: white;
  background-color: #d4af37;
}

.banner-text {
  font-style: italic;
  font-weight: 300;
  margin-left: 50px;
  font-size: 40px;
  color: white;
}

.content {
  width: 50%;
  margin: 50px auto 150px;
}

.vertical-separator {
  height: 420px;
  width: 10px;
  background-color: #d4af37;
  float: left;
}

.text-content {
  margin-left: 60px;
}

.highlight {
  font-weight: bold;
  font-style: italic;
}

.highlight-color {
  color: #d4af37;
}

.hightlight-italic {
  font-style: italic;
}

.highlight-grey {
  color: grey;
  font-style: italic;
}

.subtitle {
  font-weight: 100;
}

.list-description {
  padding: 0;
  list-style: none;
}

.list-description li {
  display: block;
  height: 100%;
}

.list-description li:before {
  content: "\2022";
  font-size: 200%;
  margin-right: 50px;
  display: inline;
  height: 100%;
  vertical-align: middle;
}

.fallout-guy {
  position: absolute;
  left: 100px;
  bottom: 107px;
  height: 150px;
  width: 150px;
  float: left;
}

.good-job {
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: QuentyYellow-Personalused;
}

.release-wrapper {
  position: absolute;
  top: -27%;
  right: 11%;
}

.release {
  position: relative;
}
.release-content {
  position: absolute;
  top: 24%;
  right: 10%;
}
.wheel {
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 768px) {
  footer {
    height: 100px;
  }

  .title-text-container {
    top: 9%;
    left: 6%;
    width: 38%;
  }

  .main-title {
    font-size: 35px;
  }

  .bethesda {
    font-size: 20px;
  }

  .banner-text {
    font-size: 18px;
  }

  .content {
    width: 70%;
  }

  .vertical-separator {
    height: 757px;
    width: 2px;
  }

  .text-content {
    margin-left: 40px;
  }

  .list-description {
    padding: 0;
  }

  .fallout-guy {
    left: 10px;
    bottom: 40px;
    height: 95px;
    width: 95px;
  }

  .good-job {
    font-size: 15px;
  }

  .release-wrapper {
    top: -34%;
    right: 8%;
  }

  .wheel {
    height: 100px;
    width: 100px;
  }

  .release-content {
    font-size: 11px;
  }

  .list-description li::before {
    margin-right: 15px;
  }
}
